{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid black;
            text-align: center;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            text-decoration: none;
        }

        input[type="number"] {
            width: 50px;
        }
    </style>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 60%; width: 800px; margin: 0 auto">
        <h1>Products</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>StockQuantity</th>
                <th>Show</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Edit</th>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Delete</th>
                {% endif %}
                <th style="width: 200px">Add to cart</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}$</td>
                    <td>{{ product.stockQuantity }}</td>
                    <td>
                        <button style="width: 100%">
                            <a href="{{ path('app_product_show', {'id': product.id}) }}">Show</a>
                        </button>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <button style="width: 100%"><a href="{{ path('app_product_edit', {'id': product.id}) }}">Edit</a>
                            </button>
                        </td>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            {{ include('product/_delete_form.html.twig') }}
                        </td>
                    {% endif %}
                    <td>
                        <form action="{{ path('app_cart_add', {'productId': product.id}) }}" method="POST">
                            <input type="number" name="quantity" value="1" min="1" max="{{ product.stockQuantity }}" required>
                            <button type="submit">Add to Cart</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No products found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_granted('ROLE_ADMIN') %}
            <button style="margin-top: 10px; width: 100px; height: 30px"><a href="{{ path('app_product_new') }}">Create new</a>
            </button>
        {% endif %}
    </div>
{% endblock %}
