{% extends 'base.html.twig' %}

{% block title %}
    Orders
{% endblock %}

{% block body %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            text-align: center;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            text-decoration: none;
        }
    </style>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 1000px; margin: 0 auto">
        <h1>Orders</h1>

        <table>
            <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Order ID</th>
                {% endif %}
                <th>Order Date</th>
                <th>Total Amount</th>
                <th>Status</th>
                <th>Show</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Edit</th>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Delete</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ order.id }}</td>
                    {% endif %}
                    <td>{{ order.orderDate|date('Y-m-d H:i:s') }}</td>
                    <td>${{ order.totalAmount }}</td>
                    <td>{{ order.status }}</td>
                    <td>
                        <button><a href="{{ path('app_orders_show', {'id': order.id}) }}">Show</a></button>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <button><a href="{{ path('app_orders_edit', {'id': order.id}) }}">Edit</a></button>
                        </td>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            {{ include('orders/_delete_form.html.twig') }}
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td colspan="7">
                        <table style="width: 100%;">
                            <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Price Per Unit</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for orderProduct in order.orderProducts %}
                                <tr>
                                    <td>{{ orderProduct.product.name }}</td>
                                    <td>{{ orderProduct.quantity }}</td>
                                    <td>${{ orderProduct.pricePerUnit }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No orders found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
